numpy
scikit-learn
pandas
matplotlib
scipy
opencv-python

# Linters & auto-formatters
add-trailing-comma
autopep8
ipython
isort
unify
wemake-python-styleguide
yamllint

# Workaround for issue with compatibility of linter packages
# See: https://github.com/tylerwince/flake8-bandit/issues/21
bandit<=1.7.2
